@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer,
header, aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  background: #1C1F25;
  overflow-y: scroll;
  position: relative;
}

.wrapper {
  min-height: 100%;
}

[class*="__container"] {
  padding-left: calc(15px + 135 * ((100vw - 320px) / 640));
  padding-right: calc(15px + 135 * ((100vw - 320px) / 640));
}

.__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.__container.__active {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: calc(25px + 40 * ((100vw - 320px) / 640));
}

.header__title {
  font-size: calc(25px + 20 * ((100vw - 320px) / 640));
  font-weight: 600;
  color: #fff;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.items__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-right: 20px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background: #ffc800;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: -16px -3px 0px 2px #5c5c5c;
          box-shadow: -16px -3px 0px 2px #5c5c5c;
  border: 3px solid #000;
  -webkit-transition: all 0.55s ease-in-out 0s;
  transition: all 0.55s ease-in-out 0s;
}

.items__img img {
  width: 100%;
}

.items__img:last-child {
  margin-right: 0;
}

.items__img.__active {
  -webkit-box-shadow: 0px 0 0px 2px #8d4747;
          box-shadow: 0px 0 0px 2px #8d4747;
  -webkit-transform: translate(-16px, 0);
          transform: translate(-16px, 0);
  background: #cccac5;
}

.counter-box {
  display: block;
  text-align: center;
  position: relative;
  left: 50%;
  bottom: -15%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 50%;
  height: auto;
  opacity: 0;
  font-size: calc(20px + 10 * ((100vw - 320px) / 640));
  line-height: calc(25px + 10 * ((100vw - 320px) / 640));
  color: #fff;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.counter-box p {
  margin-bottom: 25px;
}

.counter-box.__active {
  opacity: 1;
}

.stage {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: url("/img/stage.svg") center/cover no-repeat;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: blue;
}

.stage.__active {
  opacity: 1;
  top: 0;
  z-index: 55;
}

.stage__title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-size: calc(25px + 20 * ((100vw - 320px) / 640));
  line-height: calc(35.7px + 39.3 * ((100vw - 320px) / 640));
}

.stage__title span {
  text-align: center;
}

.cylinder {
  opacity: 0;
  position: absolute;
  bottom: 15%;
  background-color: #1C1F25;
  width: calc(60px + 60 * ((100vw - 320px) / 640));
  height: calc(75px + 75 * ((100vw - 320px) / 640));
}

.bot {
  left: -20%;
  border-left: 2px solid #000000;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  border-radius: 20px / 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: -5px 25px 35px #796e6e81;
          box-shadow: -5px 25px 35px #796e6e81;
}

.bot span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -30%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-right: 100px solid #ffffff;
  border-bottom: 65px solid transparent;
  border-top: 65px solid transparent;
  -webkit-filter: blur(20px) drop-shadow(-100px 16px 20px red) invert(100%);
          filter: blur(20px) drop-shadow(-100px 16px 20px red) invert(100%);
}

.bot span.__active {
  opacity: 1;
}

.bot.__active {
  opacity: 1;
  -webkit-animation: botjump 3.5s linear 0s forwards, botmove 2.5s linear 3.5s forwards;
          animation: botjump 3.5s linear 0s forwards, botmove 2.5s linear 3.5s forwards;
}

@-webkit-keyframes botjump {
  0% {
    opacity: 0.01;
    -webkit-transform: translate(0, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(0, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
  20% {
    -webkit-transform: translate(40%, 20%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
            transform: translate(40%, 20%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(80%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
            transform: translate(80%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
  }
  60% {
    -webkit-transform: translate(120%, 30%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
            transform: translate(120%, 30%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
  }
  80% {
    -webkit-transform: translate(160%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
            transform: translate(160%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
}

@keyframes botjump {
  0% {
    opacity: 0.01;
    -webkit-transform: translate(0, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(0, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
  20% {
    -webkit-transform: translate(40%, 20%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
            transform: translate(40%, 20%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(80%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
            transform: translate(80%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
  }
  60% {
    -webkit-transform: translate(120%, 30%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
            transform: translate(120%, 30%) rotate3d(0, 1, 1, 15deg) scale(1, 0.75);
  }
  80% {
    -webkit-transform: translate(160%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
            transform: translate(160%, -5%) rotate3d(0, 1, 1, 15deg) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
}

@-webkit-keyframes botmove {
  0% {
    -webkit-transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
    -webkit-box-shadow: -50px 5px 30px 1px #796e6e81;
            box-shadow: -50px 5px 30px 1px #796e6e81;
  }
  100% {
    -webkit-box-shadow: -50px 5px 30px 1px #796e6e81;
            box-shadow: -50px 5px 30px 1px #796e6e81;
    -webkit-transform: translate(2500px, 0);
            transform: translate(2500px, 0);
    opacity: 0;
  }
}

@keyframes botmove {
  0% {
    -webkit-transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(200%, 35%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
    -webkit-box-shadow: -50px 5px 30px 1px #796e6e81;
            box-shadow: -50px 5px 30px 1px #796e6e81;
  }
  100% {
    -webkit-box-shadow: -50px 5px 30px 1px #796e6e81;
            box-shadow: -50px 5px 30px 1px #796e6e81;
    -webkit-transform: translate(2500px, 0);
            transform: translate(2500px, 0);
    opacity: 0;
  }
}

.bot::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(18px + 17 * ((100vw - 320px) / 640));
  height: calc(75px + 75 * ((100vw - 320px) / 640));
  border-radius: 50px/ 100px;
  opacity: 0.1;
  border: 3px solid #1c1f259c;
}

.bot::before {
  content: '';
  position: absolute;
  right: -10%;
  width: calc(35px + 35 * ((100vw - 320px) / 640));
  height: calc(75px + 75 * ((100vw - 320px) / 640));
  border-radius: 50px/ 100px;
  border: 3px solid #ffc800;
}

.bot.rock::before {
  background: #ffc800 url("/img/rock-removebg-preview.png") center/cover no-repeat;
}

.bot.paper::before {
  background: #ffc800 url("/img/paper-removebg-preview.png") center/cover no-repeat;
}

.bot.scissors::before {
  background: #ffc800 url("/img/scissors-removebg-preview.png") center/cover no-repeat;
}

.bot::before {
  top: 0;
}

.user {
  opacity: 1;
  right: -20%;
  border-right: 2px solid #000000;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  border-radius: 20px / 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 5px 25px 35px #796e6e81;
          box-shadow: 5px 25px 35px #796e6e81;
}

.user span {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: -30%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-left: 100px solid #ffffff;
  border-bottom: 65px solid transparent;
  border-top: 65px solid transparent;
  -webkit-filter: blur(20px) drop-shadow(100px -16px 20px red) invert(100%);
          filter: blur(20px) drop-shadow(100px -16px 20px red) invert(100%);
}

.user span.__active {
  opacity: 1;
}

.user::before {
  content: '';
  position: absolute;
  left: -10%;
  width: calc(35px + 35 * ((100vw - 320px) / 640));
  height: calc(75px + 75 * ((100vw - 320px) / 640));
  border-radius: 50px/ 100px;
  border: 3px solid #ffc800;
}

.user.rock::before {
  background: #ffc800 url("/img/rock-removebg-preview.png") center/cover no-repeat;
}

.user.paper::before {
  background: #ffc800 url("/img/paper-removebg-preview.png") center/cover no-repeat;
}

.user.scissors::before {
  background: #ffc800 url("/img/scissors-removebg-preview.png") center/cover no-repeat;
}

.user.__active {
  opacity: 1;
  -webkit-animation: userjump 3.5s linear 0s forwards, usermove 3.5s linear  3.5s forwards;
          animation: userjump 3.5s linear 0s forwards, usermove 3.5s linear  3.5s forwards;
}

@-webkit-keyframes userjump {
  0% {
    opacity: 0.01;
    -webkit-transform: translate(25%, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(25%, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
  20% {
    -webkit-transform: translate(-40%, 35%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
            transform: translate(-40%, 35%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(-80%, 0%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
            transform: translate(-80%, 0%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
  }
  60% {
    -webkit-transform: translate(-120%, 25%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
            transform: translate(-120%, 25%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
  }
  80% {
    -webkit-transform: translate(-160%, -5%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
            transform: translate(-160%, -5%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-200%, 20%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(-200%, 20%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
}

@keyframes userjump {
  0% {
    opacity: 0.01;
    -webkit-transform: translate(25%, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(25%, 0) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
  20% {
    -webkit-transform: translate(-40%, 35%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
            transform: translate(-40%, 35%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(-80%, 0%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
            transform: translate(-80%, 0%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
  }
  60% {
    -webkit-transform: translate(-120%, 25%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
            transform: translate(-120%, 25%) rotate3d(0, 1, 1, -15deg) scale(1, 0.75);
  }
  80% {
    -webkit-transform: translate(-160%, -5%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
            transform: translate(-160%, -5%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(-200%, 20%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
            transform: translate(-200%, 20%) rotate3d(0, 1, 1, 0deg) scale(1, 1);
  }
}

@-webkit-keyframes usermove {
  0% {
    -webkit-transform: translate(-200%, 20%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
            transform: translate(-200%, 20%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
    -webkit-box-shadow: 50px -5px 30px 1px #796e6e81;
            box-shadow: 50px -5px 30px 1px #796e6e81;
  }
  100% {
    -webkit-box-shadow: 50px -5px 30px 1px #796e6e81;
            box-shadow: 50px -5px 30px 1px #796e6e81;
    -webkit-transform: translate(-2500px, 0);
            transform: translate(-2500px, 0);
    opacity: 0;
  }
}

@keyframes usermove {
  0% {
    -webkit-transform: translate(-200%, 20%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
            transform: translate(-200%, 20%) rotate3d(0, 1, 1, -15deg) scale(1, 1);
    -webkit-box-shadow: 50px -5px 30px 1px #796e6e81;
            box-shadow: 50px -5px 30px 1px #796e6e81;
  }
  100% {
    -webkit-box-shadow: 50px -5px 30px 1px #796e6e81;
            box-shadow: 50px -5px 30px 1px #796e6e81;
    -webkit-transform: translate(-2500px, 0);
            transform: translate(-2500px, 0);
    opacity: 0;
  }
}

.user.zeroattack {
  -webkit-animation: userzero 0.8s linear 0s;
          animation: userzero 0.8s linear 0s;
}

@-webkit-keyframes userzero {
  0% {
    opacity: 1;
    -webkit-transform: translate(-350%, 0%) rotate(0deg);
            transform: translate(-350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(355%, 500px) rotate(965deg);
            transform: translate(355%, 500px) rotate(965deg);
  }
}

@keyframes userzero {
  0% {
    opacity: 1;
    -webkit-transform: translate(-350%, 0%) rotate(0deg);
            transform: translate(-350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(355%, 500px) rotate(965deg);
            transform: translate(355%, 500px) rotate(965deg);
  }
}

.bot.zeroreaction {
  -webkit-animation: botzero 0.8s linear 0s;
          animation: botzero 0.8s linear 0s;
}

@-webkit-keyframes botzero {
  0% {
    opacity: 1;
    -webkit-transform: translate(350%, 0%) rotate(0deg);
            transform: translate(350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-355%, 500px) rotate(-965deg);
            transform: translate(-355%, 500px) rotate(-965deg);
  }
}

@keyframes botzero {
  0% {
    opacity: 1;
    -webkit-transform: translate(350%, 0%) rotate(0deg);
            transform: translate(350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-355%, 500px) rotate(-965deg);
            transform: translate(-355%, 500px) rotate(-965deg);
  }
}

.bot.rockreaction {
  -webkit-animation: botrockreaction 0.5s linear 0s;
          animation: botrockreaction 0.5s linear 0s;
}

@-webkit-keyframes botrockreaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(350%, 0%) rotate(0deg);
            transform: translate(350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-355%, 500px) rotate(-965deg);
            transform: translate(-355%, 500px) rotate(-965deg);
  }
}

@keyframes botrockreaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(350%, 0%) rotate(0deg);
            transform: translate(350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-355%, 500px) rotate(-965deg);
            transform: translate(-355%, 500px) rotate(-965deg);
  }
}

.user.rockreaction {
  -webkit-animation: userrockreaction 0.5s linear 0s;
          animation: userrockreaction 0.5s linear 0s;
}

@-webkit-keyframes userrockreaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(-350%, 0%) rotate(0deg);
            transform: translate(-350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(355%, 500px) rotate(965deg);
            transform: translate(355%, 500px) rotate(965deg);
  }
}

@keyframes userrockreaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(-350%, 0%) rotate(0deg);
            transform: translate(-350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(355%, 500px) rotate(965deg);
            transform: translate(355%, 500px) rotate(965deg);
  }
}

.user.paperattack {
  -webkit-animation: userPaperAttack 0.5s linear 0s;
          animation: userPaperAttack 0.5s linear 0s;
}

.bot.paperreaction {
  -webkit-animation: botPaperReaction 0.3s linear 0s;
          animation: botPaperReaction 0.3s linear 0s;
}

@-webkit-keyframes botPaperReaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(400%, 0%) rotate(0deg);
            transform: translate(400%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(450%, 0%) rotate(0deg);
            transform: translate(450%, 0%) rotate(0deg);
  }
}

@keyframes botPaperReaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(400%, 0%) rotate(0deg);
            transform: translate(400%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(450%, 0%) rotate(0deg);
            transform: translate(450%, 0%) rotate(0deg);
  }
}

@-webkit-keyframes userPaperAttack {
  0% {
    opacity: 1;
    -webkit-transform: translate(-400%, 0%) rotate(0deg) scale(1, 1);
            transform: translate(-400%, 0%) rotate(0deg) scale(1, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-400%, 0%) rotate(0deg) scale(15, 10);
            transform: translate(-400%, 0%) rotate(0deg) scale(15, 10);
  }
}

@keyframes userPaperAttack {
  0% {
    opacity: 1;
    -webkit-transform: translate(-400%, 0%) rotate(0deg) scale(1, 1);
            transform: translate(-400%, 0%) rotate(0deg) scale(1, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-400%, 0%) rotate(0deg) scale(15, 10);
            transform: translate(-400%, 0%) rotate(0deg) scale(15, 10);
  }
}

.bot.paperattack {
  -webkit-animation: botPaperAttack 0.5s linear 0s;
          animation: botPaperAttack 0.5s linear 0s;
}

.user.paperreaction {
  -webkit-animation: userPaperReaction 0.3s linear 0s;
          animation: userPaperReaction 0.3s linear 0s;
}

@-webkit-keyframes botPaperAttack {
  0% {
    opacity: 1;
    -webkit-transform: translate(400%, 0%) rotate(0deg) scale(1, 1);
            transform: translate(400%, 0%) rotate(0deg) scale(1, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(400%, 0%) rotate(0deg) scale(15, 10);
            transform: translate(400%, 0%) rotate(0deg) scale(15, 10);
  }
}

@keyframes botPaperAttack {
  0% {
    opacity: 1;
    -webkit-transform: translate(400%, 0%) rotate(0deg) scale(1, 1);
            transform: translate(400%, 0%) rotate(0deg) scale(1, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(400%, 0%) rotate(0deg) scale(15, 10);
            transform: translate(400%, 0%) rotate(0deg) scale(15, 10);
  }
}

@-webkit-keyframes userPaperReaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(-400%, 0%) rotate(0deg);
            transform: translate(-400%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-450%, 0%) rotate(0deg);
            transform: translate(-450%, 0%) rotate(0deg);
  }
}

@keyframes userPaperReaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(-400%, 0%) rotate(0deg);
            transform: translate(-400%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-450%, 0%) rotate(0deg);
            transform: translate(-450%, 0%) rotate(0deg);
  }
}

.bot.rockreaction {
  -webkit-animation: botrockreaction 0.5s linear 0s;
          animation: botrockreaction 0.5s linear 0s;
}

@keyframes botrockreaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(350%, 0%) rotate(0deg);
            transform: translate(350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-355%, 500px) rotate(-965deg);
            transform: translate(-355%, 500px) rotate(-965deg);
  }
}

.user.rockreaction {
  -webkit-animation: userrockreaction 0.5s linear 0s;
          animation: userrockreaction 0.5s linear 0s;
}

@keyframes userrockreaction {
  0% {
    opacity: 1;
    -webkit-transform: translate(-350%, 0%) rotate(0deg);
            transform: translate(-350%, 0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(355%, 500px) rotate(965deg);
            transform: translate(355%, 500px) rotate(965deg);
  }
}

@media (max-width: 767.777px) {
  .__container {
    padding-left: calc(15px + 225 * ((100vw - 320px) / 640));
    padding-right: calc(15px + 225 * ((100vw - 320px) / 640));
    margin-top: 45px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    margin-right: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
    margin-bottom: 65px;
  }
  .items__img img {
    width: 100%;
  }
}

@media (max-width: 425.555px) {
  .alert-message {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background: #b0eeb0;
    color: #000;
    font-size: calc(18px + 22 * ((100vw - 320px) / 640));
    line-height: calc(25px + 25 * ((100vw - 320px) / 640));
    font-weight: 500;
    -webkit-box-shadow: 2px 3px 15px #000;
            box-shadow: 2px 3px 15px #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-animation: show-alert-message 1s linear 0s forwards;
            animation: show-alert-message 1s linear 0s forwards;
  }
  @-webkit-keyframes show-alert-message {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes show-alert-message {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (max-height: 425.555px) and (max-width: 767.777px) {
  .__container {
    margin-top: 30px;
  }
  .__container {
    padding-left: calc(15px + 225 * ((100vw - 320px) / 640));
    padding-right: calc(15px + 225 * ((100vw - 320px) / 640));
    margin-top: 45px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .items__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 65px;
    -webkit-box-shadow: -8px -3px 0px 2px #5c5c5c;
            box-shadow: -8px -3px 0px 2px #5c5c5c;
  }
  .items__img img {
    width: 100%;
  }
  .items__img.__active {
    -webkit-box-shadow: 0px 0 0px 2px #8d4747;
            box-shadow: 0px 0 0px 2px #8d4747;
    -webkit-transform: translate(-16px, 0);
            transform: translate(-16px, 0);
    background: #cccac5;
  }
}
